* { 
    text-align: left;
}

.control-contents { 
    width: 70%;
    left: 15%;
    top: 5px;
    height: 100%;
    position: relative;
    background: white;
}

.root-wrapper { 
    background: #f5f5f5;
    height: 100%;
}
