<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <!-- NOTE: Clickable Mongoose logo which leads to the root page -->
  <a class="navbar-brand" href="#">
    <img src="assets/images/mongoose.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Mongoose
  </a>


  <!-- NOTE: Container with buttons alligned to navbar's right side -->
    <div class="buttons-container">
     <button type="button" class="btn btn-light" 
     *ngFor="let route of buttonRoutes"
     [routerLink]="route.url"> {{route.linkName }}</button>

     
    </div>
      
</nav>