<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <!-- NOTE: Clickable Mongoose logo which leads to the root page -->
  <a class="navbar-brand" href="#">
    <img src="assets/images/mongoose.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Mongoose
  </a>


  <!-- NOTE: Left-alligned list of buttons -->
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a class="nav-link"
      routerLink="/login"
      routerLinkActive="active">
      Runs
    </a>
  </ul>
  
  <!-- NOTE: Elements on the right -->
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>