<!-- <div class="w3-container">
  <div class="row">
    <div class="column left">
      <img id="mongoose-logo" src="assets/images/mongoose.png">
    </div>

    <div class="column middle">
      <span class="label describing">
        <br />Mongoose node address:<br />
      </span>
        <div class="addIp">
          <p #ipAd hidden="true"> {{ entredIpAddress }} </p>
          <input [(ngModel)]="entredIpAddress" placeholder="enter IP here..." />
    
          <div class="nodes-action-btns">
             <button type="button" title="No nodes has been set." class="btn btn-light node-action" (click)="onAddIpButtonClicked(ipAd.textContent)">Add</button>
             <button type="button" class="btn btn-light node-action" (click)="onConfirmNodesConfigurationClicked()">Confirm nodes list</button>
          </div>

        </div>
    </div>

    <div class="column right">
      <ul class="ipAddresses" style="list-style-type: none">
        <li *ngFor="let ipAddress of displayingIpAddresses">
          <span class="ipAddr">{{ ipAddress }}</span>
          <button class="buttonDel" title="delete IP address" (click)="deleteIp(ipAddress)">&#10005;</button>
        </li>
      </ul>

    </div> 
  </div>

  
</div>
 -->


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>IP</td>
      <td>127.0.0.1:9999</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>IP</td>
      <td>127.0.0.2:2222</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>IP</td>
      <td>117.3.0.1:3333</td>
    </tr>
  </tbody>
</table>


<div class="node-input-table-wrapper">
  <div class="node-input-elements">

    <div class="node-input elem0">
      <span class="input-group-text" id="basic-addon1">IP:</span>
    </div>

    <div class="node-input elem1">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>

    <div class="node-input elem2">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
    </div>

  </div>
</div>
