<!-- <div class="w3-container">
  <div class="row">
    <div class="column left">
      <img id="mongoose-logo" src="assets/images/mongoose.png">
    </div>

    <div class="column middle">
      <span class="label describing">
        <br />Mongoose node address:<br />
      </span>
        <div class="addIp">
          <p #ipAd hidden="true"> {{ entredIpAddress }} </p>
          <input [(ngModel)]="entredIpAddress" placeholder="enter IP here..." />
    
          <div class="nodes-action-btns">
             <button type="button" title="No nodes has been set." class="btn btn-light node-action" (click)="onAddIpButtonClicked(ipAd.textContent)">Add</button>
             <button type="button" class="btn btn-light node-action" (click)="onConfirmNodesConfigurationClicked()">Confirm nodes list</button>
          </div>

        </div>
    </div>

    <div class="column right">
      <ul class="ipAddresses" style="list-style-type: none">
        <li *ngFor="let ipAddress of displayingIpAddresses">
          <span class="ipAddr">{{ ipAddress }}</span>
          <button class="buttonDel" title="delete IP address" (click)="deleteIp(ipAddress)">&#10005;</button>
        </li>
      </ul>

    </div> 
  </div>

  
</div>
 -->


<div *ngIf="(savedMongooseNodes$ | async).length; else emptyNodesTable">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Address</th>
      </tr>
    </thead>

    <tbody>
      <!-- NOTE: Trying to use 'async' -->
      <tr *ngFor="let savedNode of savedMongooseNodes$ | async">
        <th scope="row">
          <!-- Default unchecked -->
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked"></label>
          </div>
        </th>
        <td> {{ savedNode.resourceType }} </td>
        <td> {{ savedNode.resourceLocation }} </td>
      </tr>
    </tbody>
  </table>

</div>


<div class="node-input-table-wrapper">
  <div class="node-input-elements">

    <div class="node-input elem0">
      <span class="input-group-text" id="basic-addon1">IP:</span>
    </div>

    <div class="node-input elem1">
      <input #ipAd [(ngModel)]="entredIpAddress" class="form-control mr-sm-2" type="search"
        placeholder="Enter node IP here..." aria-label="Search">
    </div>

    <div class="node-input elem2">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
        (click)="onAddIpButtonClicked(ipAd.textContent)">Add</button>
    </div>

  </div>
</div>


<!-- NOTE: Alert if no Mongoose Run records have been found. -->
<ng-template #emptyNodesTable>
  <div class="alert alert-secondary" role="alert">
    Nods haven't been added yet.
  </div>
</ng-template>