<!-- 
<header class="w3-container w3-black">
  Mongoose Home Page
</header> -->

<body class="w3-container">
  <span class="label greeting">
    Hi! I'm mongoose.
  </span>

  <span class="label describing">
    <br/>Mongoose is a powerful storage <br/>
    performance testing tool.<br/>
    <br/>To begin, enter the entry node
    <br/>address to start the mongoose:<br/>
      <select [(ngModel)]="ipAddress" (ngModelChange)="onChange(ipAddress)">
        <!-- <option [ngValue]="" disabled selected>Choose Node...</option> -->
        <option *ngFor="let ipAddress of ipAddresses" [ngValue]="ipAddress">
          {{ ipAddress.ip }}
        </option>
      </select>
  
  </span>
</body>

<!-- <li  [class.selected]="ipAddress === selectedIp" 
  (click)="onSelect(ipAddress)">></li> -->

<!--
  <footer id="rectangle" class="w3-container w3-black">
  Footer
</footer> -->