# Outputs
/dist/
bazel-*
test-project-host-*
dist-schema/
out-tsc/
logs
target

# IDEs
.idea/
jsconfig.json
.vscode/
/.idea
/.idea_modules
/.classpath
/.project
/.settings

# Typings file.
typings/

# Misc
coverage/
node_modules/
tmp/
npm-debug.log*
yarn-error.log*
.ng_pkg_build/

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

# Git files
.gitmessage.txt
.gitconfig
.gitmessage

.gradle/
/build/
dist/
build/

/RUNNING_PID
*.iml
*.ipr
*.iws
out

# Gradle 

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties



# NOTE: Angular-related files

/dist/
/bazel-out
/integration/bazel/bazel-*
e2e_test.*
node_modules
tools/gulp-tasks/cldr/cldr-data/

# Include when developing application packages.
pubspec.lock
.c9
.idea/
.settings/
.vscode/launch.json
*.swo
modules/.settings
modules/.vscode

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/

# User specific bazel settings
.bazelrc.user
