<!-- <tr on-mouseover='onMouseOverTableRow(node)' (click)="onRowClicked(node)">
    <td>
      {{ node.getResourceLocation() }}
    </td>
    <td class="only-show-on-hover">
      <ng-container class="test" *ngTemplateOutlet="this.getAdditionalBadges(node)"></ng-container>
    </td>
  </tr>
  
  <ng-template #halfTransparentBadge>
      <span class="badge badge-success" style="opacity: 0.5;  filter: alpha(opacity=50); /* For IE8 and earlier */">Entry
          node</span>
  
  </ng-template>
  
  <ng-template #declinedEntryNodeBadge>
      <span class="badge badge-danger">Entry node</span>
  </ng-template>
  <ng-template #confirmedEntryNodeBadge>
      <span class="badge badge-success">Entry node</span>
  </ng-template>
  <ng-template #transparentEntryNodeBadge>
      <span class="badge badge-success" stlye="opacity: 0.5">Entry node</span>
  </ng-template> -->
<td>
  table data
</td>