<table class="table">

     <!-- MARK: - Column headers -->

    <thead class="thead-light">
      <tr>
        <th scope="col" *ngFor="let header of columnHeaders"> {{ header }} </th>
      </tr>
    </thead>

   <!-- MARK: - Column content -->

    <tbody>
      <tr *ngFor="let runRecord of mongooseRunRecords">
        <th scope="row"> {{ runRecord.status }} </th>
        <td> {{ runRecord.startTime }} </td>
        <td> {{ runRecord.nodes }} </td>
        <td> {{ runRecord.duration }} </td>
        <td> {{ runRecord.comment }} </td>
      </tr>
    </tbody>
  </table>