<table class="table">

     <!-- MARK: - Column headers -->

    <thead class="thead-light">
      <tr>
        <th scope="col" *ngFor="let header of columnHeaders"> {{ header }} </th>
      </tr>
    </thead>

   <!-- MARK: - Column content -->

    <tbody>
      <tr *ngFor="let runRecord of mongooseRunRecords">
        <th scope="row"> 
          <app-mongoose-run-status-icon [runStatus]="runRecord.status">
              {{ runRecord.status }}
          </app-mongoose-run-status-icon>
            

            
        </th>
        <td> {{ runRecord.startTime }} </td>
        <td> 
          <a *ngFor="let node of runRecord.nodes">
            {{ node }}
          </a>
        </td>
        <td> {{ runRecord.getDuration() }} </td>
        <td> {{ runRecord.comment }} </td>
      </tr>
    </tbody>
  </table>