<th scope="row">
  <ng-container *ngIf="!this.shouldDisplayLoadingSpinner(); else loadingSpinner">
    <div class="checkbox">
      <input #checkboxInput type="checkbox" id="{{ runNode.getResourceLocation() }}" class="custom-control-input"
        style="visibility: hidden;" (click)="onRunNodeSelect(runNode)">
      <label #checkboxLabel for="{{ runNode.getResourceLocation() }}" class="custom-control-label"
        ></label>
    </div>
  </ng-container>
</th>

<td> {{ runNode.resourceType }} </td>
<td style="white-space: nowrap;">
  <!-- NOTE: Providing a space for entry-node tag. -->
  <div style="display:table; align-content: center; width: calc(100%);">
    <div class="entry-node-tag-wrapper" style="display: table-cell; width: calc(20%)">
    </div>
    <p style="display: table-cell; width: calc(50%);">
      {{ runNode.resourceLocation }}
    </p>
    <!-- NOTE: Entry node tag. -->
    <div class="entry-node-tag-wrapper" style="display: table-cell; width: calc(20%);">
      <span [hidden]="!this.getCustomClassForNode(runNode)" class="badge btn-outline-success my-2 my-sm-0"
        id="entry-node-tag">
        Entry node
      </span>
    </div>

  </div>

</td>
<td>
  <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
      (click)="onRunNodeRemoveClicked(runNode)">Remove</button></span>
</td>

<!-- NOTE: Loading spinner template. -->
<ng-template #loadingSpinner>
  <div class="spinner-border text-success" role="status">
    <span class="sr-only"></span>
  </div>
</ng-template>