<!-- NOTE: Set Up footer  -->
<nav id="mongoose-setup-footer" class="navbar navbar-light bg-light">
  <div class="mx-auto order-0">
    <div *ngIf="!this.isSetupCompleted; else runMongooseBtn">
      <button id="btn-continue" class="btn btn-outline-success my-2 my-sm-0" type="submit"
        (click)="onConfirmButtonClicked()">
        {{ confirmButtonTitle }}
      </button>
    </div>
  </div>
</nav>

<ng-template #runMongooseBtn>
  <button id="btn-continue" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onRunButtonClicked()"
    [@bounce]="this.isSetupCompleted">
    Run
  </button>
</ng-template>