<div class="w3-container">
  <div class="row">
    <div class="column left">
      <img src="assets/images/mongoose.png">
    </div>

    <div class="column middle">
      <span class="label describing">
        <br />Mongoose node address:<br />
      </span>
        <div class="addIp">
          <p #ipAd hidden="true">{{ ip }}</p>
          <input [(ngModel)]="ip" placeholder="enter IP here..." />
    
          <div class="nodes-action-btns">
             <button type="button" title="No nodes has been set." class="btn btn-light node-action" (click)="addIp(ipAd.textContent)">Add</button>
             <button type="button" class="btn btn-light node-action" (click)="onNavigateNextClicked()">Confirm nodes list</button>
          </div>

        </div>
      <!-- </span> -->
    </div>

    <div class="column right">
      <ul class="ipAddresses" style="list-style-type: none">
        <li *ngFor="let ipAddress of ipAddresses">
          <span class="ipAddr">{{ ipAddress.ip }}</span>
          <button class="buttonDel" title="delete IP address" (click)="deleteIp(ipAddress.id)">&#10005;</button>
        </li>
      </ul>

    </div> 
  </div>
</div>
