/* body {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 0px
    rgba(0,0,0,0.1);
    margin: 15%;
    padding: 3%;   
    /* font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
    text-decoration: none; */
/* } */
/* 
.w3-container {
    display: flex;
}

.element {
    margin: auto;
}  */
/* 
img {
    display: block;

} */


.next-button { 
    position: absolute;
    bottom: 20px;
    right: 20px;

    background-color: white;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
   border: 1px solid black;
    border-radius: 50%;
}