<body class="w3-container">
  <div class="row">
    <div class="column left">
      <img src="assets/images/mongoose.png">
    </div>

    <div class="column middle">
      <span class="label describing">
        <br />To begin, enter the entry node
        <br />address to start the mongoose:<br />

        <div class="addIp">
          <input #ip name="ip" (ngModel)="ip" placeholder="IP address"/>
          <button class="buttonAdd" title="add IP address"
            (click)="addIp(ip.value); ip.value=''">
            Add
          </button>
        </div>
      </span>
    </div>

    <div class="column right">
      <ul class="ipAddresses" style="list-style-type: none">
        <li *ngFor="let ipAddress of ipAddresses">
          <span>{{ ipAddress.ip }}</span>
          <button class="deleteIp" title="delete IP address" (click)="deleteIp(ipAddress)">--</button>
        </li>
      </ul>
    </div>
    
  </div>
</body>
