

<div class="editing-root-background">
        <div class="editing-root-wrapper">
                <app-editing-scenarios></app-editing-scenarios>
                <button class="start-button" (click)="onStartButtonClicked()">START</button>
        
                <app-new-values-handling></app-new-values-handling>
              </div>
              <button class="previous-button" (click)="onNavigatePreviousClicked()">
                  <img src="src/assets/icons/icon-navigate-previous.svg">
              </button>
</div>