<div class="root-wrapper">
        <app-control-navbar></app-control-navbar>
        <div class="control-contents">
            <app-scenarios></app-scenarios>
        </div>
        <button class="previous-button" (click)="onNavigatePreviousClicked()">
            <img src="src/assets/icons/icon-navigate-previous.svg">
        </button>

        <button class="next-button" (click)="onNavigateNextClicked()">
                <img src="src/assets/icons/icon-navigate-next.svg">
        </button>
</div>