.app-control-navbar { 
    position: relative;
    background: white;
}

.control-contents { 
    width: 70%;
    left: 15%;
    top: 5px;
    height: 100%;
    position: relative;
    background: white;
}

.root-wrapper { 
    background: #f5f5f5;
    height: 100%;
}
.next-button, .previous-button { 
    position: absolute;
    bottom: 20px;

    background-color: white;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.next-button { 
    right: 20px;

}

.previous-button { 
    left: 20px;

}