<div class="scenarios-wrapper">
    <div class="scenarios-buttons">
        <input type="file" style="display:none" accept="text/*" (change)="processFile($event)" #file>
        <button class="scenarios-open-btn" (click)="file.click()">
        <img src="src/assets/icons/folder-open-icon.svg">
        </button>
      
        <button class="scenarios-save-btn">
            <img src="src/assets/icons/save-icon.svg">
        </button>
        <button class="scenarios-start-btn" (click)="onStartBtnClick()">START</button>
      </div>
      
      <textarea class="uploaded-file-content" rows="40" cols="60" type="text" [(value)]="fileContent" onblur="if(this.value == '') { this.value='Select JavaScript file...'}" onfocus="if (this.value == 'Select JavaScript file...') {this.value=''}">
      </textarea>
</div>
<!-- NOTE: Meterial Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">