
<!-- NOTE: Basic discription of displaying run  -->
<table class="table">
  <thead class="thead-light">
  
  </thead>
  <tbody>
    <tr>
      <th scope="row">Nodes: </th>
      <td> {{ runRecord.nodes }} </td>
    </tr>

    <tr>
      <th scope="row">Duration</th>
      <td>{{ runRecord.getDuration() }}</td>
    </tr>

    <tr>
      <th scope="row">Comment</th>
      <td> {{ runRecord.comment }} </td>
    </tr>
  </tbody>
</table>

<!-- NOTE: Tabs that switches between run statistics (as for 04.03.2019, it's "Logs" and "Charts") -->
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
     <button *ngFor="let section of STATISTICS_SECTIONS" class="btn btn-sm btn-outline-secondary" 
     type="button" (click)="switchSection(section)">
        {{ section }}
     </button>
  </form>
</nav>