<!-- NOTE: Basic discription of displaying run  -->
<table class="table">
  <thead class="thead-light">

  </thead>
  <tbody>
    <tr>
      <th scope="row">Nodes: </th>
      <td> {{ runRecord.getNodesList() }} </td>
    </tr>

    <tr>
      <th scope="row">Duration</th>
      <td>{{ runRecord.getDuration() }}</td>
    </tr>

    <tr>
      <th scope="row">Comment</th>
      <td> {{ runRecord.getComment() }} </td>
    </tr>
  </tbody>
</table>

<!-- NOTE: Tabs that switches between run statistics (as for 04.03.2019, it's "Logs" and "Charts") -->
<ul class="nav nav-tabs">
  <li class="nav-item" role="tab" *ngFor="let section of statisticTabs">
    <a class="nav-link" [ngClass]="section.isActive ? 'active' : ''"
     (click)="switchTab(section)"> {{ section.name }}
    </a>
  </li>
</ul>

<router-outlet></router-outlet>