@font-face {
	font-family: play;
	src: url("/assets/fonts/play/Play-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: play;
	src: url("/assets/fonts/play/Play-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: open-sans;
	src: url("/assets/fonts/open-sans/OpenSans-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: open-sans;
	src: url("/assets/fonts/open-sans/OpenSans-Semibold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: open-sans;
	src: url("/assets/fonts/open-sans/OpenSans-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: open-sans-condensed;
	src: url("/assets/fonts/open-sans-condensed/OpenSans-CondLight.ttf");
	font-weight: normal;
}
