@import url("/assets/lib/font-awesome/css/font-awesome.min.css");
@import url("/assets/lib/dijit/themes/claro/claro.css");
@import url("/assets/lib/dijit/themes/claro/document.css");
@import url("/assets/lib/dojox/editor/plugins/resources/css/FindReplace.css");
@import url("/assets/lib/dojox/editor/plugins/resources/css/Save.css");
@import url("/assets/lib/dojox/editor/plugins/resources/css/StatusBar.css");
@import url("/assets/lib/gridx/resources/claro/Gridx.css");
@import url("/assets/stylesheets/fonts.css");
@import url("/assets/stylesheets/icons.css");

* {
    font: 12px open-sans;
}

html,
body {
	height: 100%;
	width: 100%;
	font: 12px open-sans;
}

#root .dijitButton > .dijitButtonNode {
	-webkit-transition: background-color 0.2s linear;
	border-radius: 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #f0f2ff;
	background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.75) 100%);
	background-image: -moz-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.75) 100%);
	background-image: -o-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.75) 100%);
	background-image: -webkit-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.75) 100%);
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #89b;
	padding: 2px 8px 4px;
	font-size: 12px;
}

#root .dijitButton > .dijitButtonNode:hover {
	color: #ffffff;
	background-color: #39c;
	background-image: linear-gradient(rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.25) 100%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.25) 100%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.25) 100%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.25) 100%);
	border: 1px solid #166;
}

h1 {
	display: inline;
	font-family: play;
	font-size: 16px;
}

h2 {
	display: inline;
	font-family: play;
	font-size: 14px;
}

h3 {
	display: inline;
	font-family: play;
	font-size: 13px;
}

h4 {
	display: inline;
	font-family: play;
	font-size: 12px;
}

.break {
	float: none;
	clear: both;
}

.layout-container {
	width: 100%;
	height: 100%;
}

.tabLabel {
	font-size: 11pt;
}

.tabStripButton {
	display: none;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTab {
	background-color: #ffffff;
	background-image: linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	background-image: -moz-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	background-image: -o-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	background-image: -webkit-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	height: 24px;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTab:hover {
	background-image: linear-gradient(#bbc 0%, #778 15%, #778 100%);
	background-image: -moz-linear-gradient(#bbc 0%, #778 15%, #778 100%);
	background-image: -o-linear-gradient(#bbc 0%, #778 15%, #778 100%);
	background-image: -webkit-linear-gradient(#bbc 0%, #778 15%, #778 100%);
	color: #ffffff;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTabChecked {
	color: #000;
	background-color: #ffffff;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTabChecked:hover {
	color: #000;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTabChecked:hover {
	background-image: linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	background-image: -moz-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	background-image: -o-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	background-image: -webkit-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
}

.main-tabs-panel div.dijitTabContainerTop-tabs div.dijitTabDisabled:nth-last-child(2) {
	-webkit-transition: background-color 0.2s linear;
	border-radius: 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #f0fff2;
	background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.75) 100%);
	background-image: -moz-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.75) 100%);
	background-image: -o-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.75) 100%);
	background-image: -webkit-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.75) 100%);
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #8b9;
	color: #000;
	font-size: 12px;
    margin-left: 2px;
	padding-top: 3px;
	padding-bottom: 1px;
}

.main-tabs-panel div.dijitTabContainerTop-tabs div.dijitTabDisabled:nth-last-child(2):hover {
	color: #ffffff;
	background-color: #3a6;
	background-image: linear-gradient(rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.25) 100%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.25) 100%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.25) 100%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.25) 100%);
	border: 1px solid #284;
}

.main-tabs-panel div.dijitTabContainerTop-tabs div.dijitTabDisabled:last-child {
	background-color: transparent;
	background-image: none;
	border: none;
	box-shadow: none;
	color: #000;
	text-align: right;
}

.main-tabs-panel div.dijitTabContainerTop-tabs div.dijitTabDisabled:last-child:hover {
	background-color: transparent;
	background-image: none;
	border: none;
	color: #000;
}

.dijitTabContent {
	text-align: left;
}

#dashboard-test-runs .dijitMenu {
	-webkit-transition: background-color 0.2s linear;
	border-radius: 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #f0f2ff;
	background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.75) 100%);
	background-image: -moz-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.75) 100%);
	background-image: -o-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.75) 100%);
	background-image: -webkit-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.75) 100%);
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #89b;
	font-size: 12px;
	height: 30px;
    margin: 5px;
    padding-left: 5px;
    width: 95%;
}

#dashboard-test-runs .dijitMenuItemSelected {
	background-color: #39c;
	background-image: linear-gradient(rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.25) 100%);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.25) 100%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.25) 100%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5) 0px, rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.25) 100%);
	border: 1px solid #166;
	color: #ffffff;
}

#dashboard-test-runs {
	margin-top: 5px;
}

#dashboard-current-run-pane {
	margin-top: 1px;
}

#dashboard-current-run-pane .dijitFieldsetContentOuter,
#dashboard-current-run-pane .dijitFieldsetContentOuter .dijitReset,
#dashboard-current-run-pane .dijitFieldsetContentOuter .dijitReset .dijitFieldsetContentInner {
	height: 100%;
}

.gridx {
	width: 100%;
	height: 100%;
}

.dijitFieldset {
	border-color: #ddd;
}