* {
    font-family: open-sans;
    font-size: 10pt;
}

html,
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
},

button {
	-webkit-transition: background-color 0.2s linear;
	border-radius:4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #E4F2FF;
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #769DC0;
	padding: 2px 8px 4px;
	font-size: 1em;
}

button:hover {
	background-color: #AFD9FF;
	color: #000000;
}

h1 {
	display: inline;
	font-size: 14pt;
}

h2 {
	display: inline;
	font-size: 12pt;
}

h3 {
	display: inline;
	font-size: 10pt;
}

.break {
	float: none;
	clear: both;
}

.layout-container {
	width: 100%;
	height: 100%;
}

.tabLabel {
	font-size: 11pt;
}

.tabStripButton {
	display: none;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTab {
	background-color: #ffffff;
	background-image: linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	background-image: -moz-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	background-image: -o-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	background-image: -webkit-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	width: 120px;
	height: 24px;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTab:hover {
	background-image: linear-gradient(#bbc 0%, #778 15%, #778 100%);
	background-image: -moz-linear-gradient(#bbc 0%, #778 15%, #778 100%);
	background-image: -o-linear-gradient(#bbc 0%, #778 15%, #778 100%);
	background-image: -webkit-linear-gradient(#bbc 0%, #778 15%, #778 100%);
	border-color: #777;
	color: #ffffff;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTabChecked {
	color: #000;
	background-color: #ffffff;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTabChecked:hover {
	color: #000;
	background-image: linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	background-image: -moz-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	background-image: -o-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
	background-image: -webkit-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
}

div.dijitTabContainerTop-tabs div.dijitTabDisabled:first-child {
	background-color: transparent;
	background-image: none;
	border: none;
	box-shadow: none;
	color: #000;
	width: 250px;
}

/* logo */
#dijit_layout_TabContainer_0_tablist_dijit_layout_TabController_0 {
	font-family: open-sans-condensed;
	font-size: 16pt;
}

div.dijitTabContainerTop-tabs div.dijitTabDisabled:first-child:hover {
	background-color: transparent;
	background-image: none;
	border: none;
	color: #000;
}

div.dijitTabContainerTop-tabs div.dijitTabDisabled:last-child {
	background-image: linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #eee 90%, #ddd 100%);
	background-image: -moz-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #eee 90%, #ddd 100%);
	background-image: -o-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #eee 90%, #ddd 100%);
	background-image: -webkit-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #eee 90%, #ddd 100%);
	border-bottom: 1px solid rgb(181, 188, 199);
	border-radius: 4px;
	margin-left: 1px;
	padding-top: 3px;
	padding-bottom: 1px;
}

div.dijitTabContainerTop-tabs div.dijitTabDisabled:last-child:hover {
	background-image: linear-gradient(#0c8 0%, #0a6 15%, #0a6 85%, #0c8 100%);
	background-image: -moz-linear-gradient(#0c8 0%, #0a6 15%, #0a6 85%, #0c8 100%);
	background-image: -o-linear-gradient(#0c8 0%, #0a6 15%, #0a6 85%, #0c8 100%);
	background-image: -webkit-linear-gradient(#0c8 0%, #0a6 15%, #0a6 85%, #0c8 100%);
	border-color: #084;
	color: #ffffff;
}

.dijitTabContent {
	text-align: left !important;
}

.dijitMenu {
	margin: 4px;
	width: 90%;
}

#dashboard-test-runs {
	margin-top: 5px;
}

#dashboard-current-run-pane {
	margin-top: 1px;
}

#dashboard-current-run-pane .dijitFieldsetContentOuter,
#dashboard-current-run-pane .dijitFieldsetContentOuter .dijitReset,
#dashboard-current-run-pane .dijitFieldsetContentOuter .dijitReset .dijitFieldsetContentInner {
	height: 100%;
}