@font-face {
    font-family: play;
    src: url(/assets/fonts/Play-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: play;
    src: url(/assets/fonts/Play-Bold.ttf);
    font-weight: bold;
}

* {
    font-family: play;
    font-size: 10pt;
    outline: none !important;
}

html,
body {
  height: 100%;
  margin: 5;
  width: 100%;
}

button {
	-webkit-transition: background-color 0.2s linear;
	border-radius:4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #E4F2FF;
	background-image: url("lib/dijit/themes/claro/form/images/button.png");
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #769DC0;
	padding: 2px 8px 4px;
	font-size: 1em;
}

button:hover {
	background-color: #AFD9FF;
	color: #000000;
}

h1 {
	font-size: 16pt;
}

h2 {
  font-size: 14pt;
}

h3 {
  font-size: 12pt;
}

h4 {
  font-size: 10pt;
}

#appLayout {
  width: 100%;
  min-height: 500px;
  height: 100%;
}

.break
{
	float: none;
	clear: both;
}

.tabLabel {
  font-size: 12pt;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTab {
  background-color: #ffffff;
  background-image: linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
  background-image: -moz-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
  background-image: -o-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
  background-image: -webkit-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
  width: 150px;
  height: 24px;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTab:hover {
  background-image: linear-gradient(#ccc 0%, #888 15%, #888 100%);
  background-image: -moz-linear-gradient(#ccc 0%, #888 15%, #888 100%);
  background-image: -o-linear-gradient(#ccc 0%, #888 15%, #888 100%);
  background-image: -webkit-linear-gradient(#ccc 0%, #888 15%, #888 100%);
  border-color: #777;
  color: #ffffff;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTabChecked {
  color: #000;
  background-color: #ffffff;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.main-tabs-panel .dijitTabContainerTop-tabs .dijitTabChecked:hover {
  color: #000;
  background-image: linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
  background-image: -moz-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
  background-image: -o-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
  background-image: -webkit-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #ffffff 100%);
}

div.dijitTabContainerTop-tabs div.dijitTabDisabled:first-child {
  color: #000;
  background-color: transparent;
  background-image: none;
  border: none;
  width: 250px;
}

div.dijitTabContainerTop-tabs div.dijitTabDisabled:first-child:hover {
  color: #000;
  background-color: transparent;
  background-image: none;
  border: none;
}

div.dijitTabContainerTop-tabs div.dijitTabDisabled:last-child {
  background-image: linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #eee 90%, #ddd 100%);
  background-image: -moz-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #eee 90%, #ddd 100%);
  background-image: -o-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #eee 90%, #ddd 100%);
  background-image: -webkit-linear-gradient(#ddd 0%, #eee 10%, #fff 50%, #eee 90%, #ddd 100%);
  border-bottom: 1px solid rgb(181, 188, 199);
  border-radius: 4px;
  margin-left: 1px;
  padding-top: 3px;
  padding-bottom: 1px;
}

div.dijitTabContainerTop-tabs div.dijitTabDisabled:last-child:hover {
  background-image: linear-gradient(#4f8 0%, #0c3 15%, #0c3 85%, #4f8 100%);
  background-image: -moz-linear-gradient(#4f8 0%, #0c3 15%, #0c3 85%, #4f8 100%);
  background-image: -o-linear-gradient(#4f8 0%, #0c3 15%, #0c3 85%, #4f8 100%);
  background-image: -webkit-linear-gradient(#4f8 0%, #0c3 15%, #0c3 85%, #4f8 100%);
  border-color: #00aa00;
  color: #ffffff;
}

.dijitTabContent {
  text-align: left !important;
}
