
.mongoose-navbar { 
    overflow: hidden;
    /* background: pink; */
    width: 100%;
    height: 50px;
    position: relative;
    flex-wrap: wrap;
    align-items: center; /* For vertical alignment */
    border-bottom: 1px;
    border-bottom-color: gray;
    -webkit-box-shadow: 0 1px 5px #888888;
    -moz-box-shadow: 0 1px 5px #888888;
    box-shadow: 0 1px 5px #888888;
}

.navbar-controls { 
    display: flex;
    justify-content: center;
    /* Make sure the controls is at the center */
    align-items: center; /* For vertical alignment */
    margin: auto;  
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}


.logo { 
    height: 100%;
    padding-left: 2%;
}

.scenarios-button, .defaults-button, .tests-button { 
    border-radius: 10px;
    height: 50%;
    border: none;
    color: white;
    background: #BF7200;
    outline: none;
}

.defaults-button, .tests-button { 
    /* Adding margin to every element except the first one to keep it center-alligned */
    margin-left: 7px;

}

.scenarios-button:hover, .defaults-button:hover, .tests-button:hover { 
    background: #ed8d00;
}
