


<div *ngIf="(this.isChartDrawActive); else chartsNotAvailable">
  <div class="chart-container">
    <div class="chart">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
  </div>  
</div>


<ng-template #chartsNotAvailable>
  <div class="card-body text-center">
    <h5 class="card-title">Oops, sorry.</h5>
    <p class="card-text">Required chart couldn't be drawn, the data for it is missing.</p>
  </div>  
</ng-template>