:host { 
    display: block;
    margin: calc(1%) calc(5%);
}

.node-input-table-wrapper { 
    background-color: aliceblue;
    display: table;
    border-collapse: separate;
    border-spacing: 30px 0; 
}

.node-input-elements { 
    display: table-row;
}

.node-input-elements { 
    /* background-color: blue; */
}

.node-input { 
    display: table-cell;
    /* background-color: pink; */
}

.elem1 { 
    width: calc(100%);
    /* background-color: green; */
}

.elem2 { 
    width: calc(100%);
    /* background-color: purple; */
}


.node-entring-form { 
    margin: 10px 10px; 
}

.column-nodes-check { 
    /* NOTE: Setting minimal width in order to make the column wrap its content */
    width: calc(1%);
}

.column-nodes-type { 
    /* NOTE: Setting minimal width in order to make the column wrap its content */
    width: calc(1%);
}
