<p *ngFor="let inactiveAlert of inactiveNodeAlerts">
  <ngb-alert [type]="inactiveAlert.alertType" (close)="onAlertClosed(inactiveAlert)">{{ inactiveAlert.message }}
  </ngb-alert>
</p>

<!-- NOTE: Table with saved Mongoose Run Nodes.  -->
<div *ngIf="(savedMongooseNodes$ | async).length; else emptyNodesTable">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="column-nodes-check">Run</th>
        <th scope="col" class="column-nodes-type">Type</th>
        <th scope="col" class="column-nodes-address">Address</th>
        <th scope="col" class="column-nodes-removal">Remove</th>
      </tr>
    </thead>

    <tbody>
      <!-- NOTE: Trying to use 'async' -->
      <tr *ngFor="let savedNode of savedMongooseNodes$ | async">

        <th scope="row">
          <div class="checkbox">
              <input type="checkbox" id="{{ savedNode.getResourceLocation() }}" class="custom-control-input"
               style="visibility: hidden;" (click)="onRunNodeSelect(savedNode)" [ngClass]="this.getCustomClassForNode(savedNode)">
              <label for="{{ savedNode.getResourceLocation() }}" class="custom-control-label"></label>
          </div>

        </th>
        <td> {{ savedNode.resourceType }} </td>
        <td> {{ savedNode.resourceLocation }} </td>
        <td>
            <span class="table-remove"><button type="button"
                class="btn btn-danger btn-rounded btn-sm my-0" (click)="onRunNodeRemoveClicked(savedNode)">Remove</button></span>
          </td>
      </tr>
    </tbody>
  </table>

</div>


<div class="node-input-table-wrapper">
  <div class="node-input-elements">
    <div class="node-input elem0">
      <span class="input-group-text" id="basic-addon1">IP:</span>
    </div>

    <div class="node-input ip-address-input">
      <input #ipAd [(ngModel)]="entredIpAddress" class="form-control mr-sm-2" type="search"
        placeholder="Enter node IP here..." aria-label="Search">
    </div>

    <div class="node-input add-ip-btn">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
        (click)="onAddIpButtonClicked(ipAd.textContent)">Add</button>
    </div>

  </div>
</div>

<!-- NOTE: Alert if no Mongoose Run records have been found. -->
<ng-template #emptyNodesTable>
  <div class="alert alert-secondary" role="alert">
    Nods haven't been added yet.
  </div>
</ng-template>