:host { 
    display: block;
    margin: calc(1%) calc(5%);
    min-height: calc(50vh);
    position: relative;
}

.table { 
    overflow-y: scroll;
    margin-bottom: calc(5%);
}

.nodes-input-block { 
    display: block;
    margin-bottom: calc(15%);
}
.node-input-table-wrapper { 
    padding-bottom: calc(0.5%);
    padding-top: calc(0.5%);

    z-index: 9999;
    margin-bottom: calc(10vh);
    width: calc(90%);
    position: fixed; 
    bottom: 0%;
    background-color: rgba(230, 255, 228, 0.5);
    
    display: table;
    border-collapse: separate;
    border-spacing: 30px 0; 
}

.test-wrapper { 
    position: relative;
}

.node-input-elements { 
    display: table-row;
}

.node-input { 
    display: table-cell;
}

.ip-address-input { 
    width: calc(100%);
}

.add-ip-btn { 
    width: calc(100%);
}


.node-entring-form { 
    margin: 10px 10px; 
}

.column-nodes-check { 
    /* NOTE: Setting minimal width in order to make the column wrap its content */
    width: calc(1%);
}

.column-nodes-type { 
    /* NOTE: Setting minimal width in order to make the column wrap its content */
    width: calc(1%);
}
