

/* NOTE: Configuring content textview */

.scenarios-file-content-header { 
    position: static;
    margin-top: 50px;
    margin-left: 40px;
}

.scenarios-file-content { 
    display: flex;
    position: static;
    margin-top: 10px;
    margin-left: 40px;
    overflow-y: scroll ! important;
    resize: none;
    background: #f5f5f5;
    outline: none;
    max-height: 60vh;
    width: 30%;
    font-size: 18px;
}

