<!-- NOTE: Main content is encapsulated to exclude any overlaying with the footer.  -->
<div class="main-content">
  <!-- NOTE: Class 'progress' is used to style custom Mongoose Set Up tabs. -->
  <div class="progress-wrapper">
    <div class="mb-1">
      <progressbar class="progress-striped active" [value]="this.getCurrentComplitionPercentage()" type="success"> {{ this.getCurrentSetupTab().title }}
      </progressbar>
      <router-outlet (activate)="onRouterComponentActivated($event)" (deactivate)="onRouterComponentDeactivated($event)">
      </router-outlet>
    </div>
    
  </div>
  <app-set-up-footer [isSetupCompleted]="isSetupCompleted()" [confirmButtonTitle]="getConfigrmationBtnTitle()"
    (confirmButtonClick)="onConfirmClicked()" (runButtonClick)="onRunBtnClicked()"></app-set-up-footer>