
.progress-wrapper { 
    width: calc(100%);
    display: inline-block;
    text-align: center;
}

/* NOTE: Spacing between progress bars.  */
.progress-wrapper > * { 
    margin: 10px 10px;
}

.transpatent-element { 
    display: none;
}

/* Warning: potential problem with margining. The margin-bottom is set to exclude overlaaying with mongoose-setup-footer. */
.main-content { 
    margin-bottom: calc(5%);
}
