<div class="modal-header">
    <h4 class="modal-title">
        {{ this.title }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    {{ this.discription }}
    <ng-container *ngIf="this.nodes">
        <ul *ngFor="let node of this.nodes">
            <li>
                {{ node.getResourceLocation() }}
            </li>
        </ul>
    </ng-container>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>