<div class="modal-header">
    <h4 class="modal-title">
        {{ this.title }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="currentModalView.close('Close click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    {{ this.discription }}
    <ng-container *ngIf="this.nodes">
        <table class="table table-hover table-sm">
            <thead>
                <tr class="bg-success">
                    <th scope="col" class="column-nodes-check">Address</th>
                    <th scope="col" class="column-nodes-type">Entry</th>
                </tr>
            </thead>
            <!-- NOTE: Nodes' table rows -->
            <ng-container *ngFor="let node of this.nodes">
                <tr on-mouseenter='onMouseEnterTableRow(node)' on-mouseleave="onMouseLeaveTableRow(node)"
                    (click)="onRowClicked(node)" [ngClass]="this.getClassForTableRowRepresentingNode(node)">
                    <td>
                        {{ node.getResourceLocation() }}
                    </td>
                    <td>
                        <ng-container
                            *ngTemplateOutlet="nodeBadge; context: this.getContextForNodeBadgeTemplate(node)">
                        </ng-container>
                    </td>
                </tr>
            </ng-container>
        </table>
        <div class="container-fluid">
            <!-- NOTE: New entry node adding area -->
            <div class="row">
                <input [(ngModel)]="typeaheadEnteredNodeAddress" [typeahead]="this.typeaheadRecommendedNodesAddresses"
                    class="form-control col-10" [placeholder]="this.NODE_ADDRESS_ENTRANCE_AREA_PLACEHOLDER"
                    (typeaheadOnSelect)="onKeyPressedWhileEnteringNodeAddress(typeaheadEnteredNodeAddress)">
                <button type="button" class="btn btn-outline-dark col" style="margin-left: calc(1%);"
                    (click)="onKeyPressedWhileEnteringNodeAddress(typeaheadEnteredNodeAddress)">Set</button>
            </div>
        </div>
    </ng-container>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onRetryBtnClicked()">
        <span *ngIf="this.shouldDisplayLaunchingSpinner()" class="spinner-border spinner-border-sm" role="status"
            aria-hidden="true"></span>
        Retry
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="onExitSetupBtnClicked()">Exit setup</button>
</div>
<!-- NOTE: Templates -->
<ng-template #halfTransparentBadge>
    <span class="badge badge-success" style="opacity: 0.5;  filter: alpha(opacity=50); /* For IE8 and earlier */">Entry
        node</span>
</ng-template>
<ng-template #nodeBadge let-badgeDetails="badgeDetails">
    <span class="badge" [ngClass]="badgeDetails.class" [ngStyle]="badgeDetails.style">
        Entry node <span class="badge badge-light"> {{ badgeDetails.reason }}</span>
    </span>
</ng-template>
<ng-template #selectedEntryNodeBadge>
    <span class="badge badge-success">New entry node</span>
</ng-template>