<div class="modal-header">
    <h4 class="modal-title">
        {{ this.title }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    {{ this.discription }}
    <ng-container *ngIf="this.nodes">
        <table class="table table-hover table-sm">
            <thead>
                <tr class="bg-success">
                    <th scope="col" class="column-nodes-check">Address</th>
                    <th scope="col" class="column-nodes-type">Entry</th>
                </tr>
            </thead>
            <!-- NOTE: Nodes' table rows -->
            <ng-container *ngFor="let node of this.nodes">
                <tr on-mouseenter='onMouseEnterTableRow(node)' on-mouseleave="onMouseLeaveTableRow(node)"
                    (click)="onRowClicked(node)" [ngClass]="this.getClassForTableRowRepresentingNode(node)">
                    <td>
                        {{ node.getResourceLocation() }}
                    </td>
                    <td>
                        <ng-container *ngTemplateOutlet="this.getTemplateForRow(node)"></ng-container>
                    </td>
                </tr>
            </ng-container>
        </table>
    </ng-container>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onRetryBtnClicked()">Retry</button>
    <button type="button" class="btn btn-outline-dark" (click)="currentModalView.close('Close click')">Close</button>
</div>
<!-- NOTE: Templates -->
<ng-template #halfTransparentBadge>
    <span class="badge badge-success" style="opacity: 0.5;  filter: alpha(opacity=50); /* For IE8 and earlier */">Entry
        node</span>
</ng-template>
<ng-template #inactiveNodeBadge>
    <span class="badge badge-danger">
        Entry node <span class="badge badge-light">Inactive</span>
    </span>
</ng-template>
<ng-template #selectedEntryNodeBadge>
    <span class="badge badge-success">New entry node</span>
</ng-template>