<!-- NOTE: Main content is encapsulated to exclude any overlaying with the footer.  -->
<div class="main-content">
    <!-- NOTE: Class 'progress' is used to style custom Mongoose Set Up tabs. -->
  <div class="progress-wrapper">
      <div class="progress"
      *ngFor="let tab of setUpTabs"
      (click)="onTabClicked(tab.getId())"
      [style.width.%]="getPercentagePerTab()" 
      [ngClass]="tab.isContentDisplaying ? 'processing-tab' : 'progress'">
    
      <!-- NOTE: Element for tab state when the set up step hasn't been completed yet. -->
      <p class="incompleted-step-tab" *ngIf="!tab.isCompleted">
          {{ tab.title }} 
      </p>
    
        <div class="progress-bar bg-success" role="progressbar" 
        [style.width.%]="tab.isCompleted ? 100 : 0"
        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <!-- NOTE: Element for tab state when the set up step has been completed. -->
          <div class="completed-step-tab" *ngIf="tab.isCompleted"> {{ tab.title }} </div>
        </div>
    </div> <!--  NOTE: End of class 'progress'. -->
  </div>

  <!-- NOTE: Outlet for actual set up pages.  -->
  <router-outlet></router-outlet>
</div>


<!-- NOTE: SetUp footer  -->
<nav id="mongoose-setup-footer" class="navbar navbar-light bg-light">
    <div class="mx-auto order-0">
        <button id="btn-continue" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onNextStepClicked()">
            Confirm &raquo;
        </button>
    </div>

  <div *ngIf="isSetupCompleted()"  [@bounce]="isSetupCompleted()">
      <button id="btn-continue" class="btn btn-outline-success my-2 my-sm-0" type="submit"
        (click)="onRunBtnClicked()">
          Run
      </button>
  </div>
</nav>

