
.progress-wrapper { 
    width: calc(100%);
    display: inline-block;
    text-align: center;
}

/* NOTE: Spacing between progress bars  */
.progress-wrapper > * { 
    margin: 0px 20px;
}

.progress { 
    width: calc(20%);
    margin: auto;
    display: inline-block;
}


.progress-bar-displaying { 
    color: black; 
}

.transpatent-element { 
    display: none;
}

/* Warning: potential problem with margining. The margin-bottom is set to exclude overlaaying with mongoose-setup-footer. */
.main-content { 
    margin-bottom: calc(5%);
}

/* NOTE: Footer which is fixed at the bottom  */
#mongoose-setup-footer { 
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%; 
    padding: calc(1%) calc(1%);
}