
.progress-wrapper { 
    /* margin: 1px calc(1%); */
    width: calc(100%);
    display: inline-block;
    text-align: center;
}

/* NOTE: Spacing between progress bars  */
.progress-wrapper > * { 
    margin: 0px 20px;
}

.progress { 
    width: calc(20%);
    margin: auto;
    display: inline-block;
}

.progress-bar {
    left: 50px;
}

.progress-bar-uncompleted { 
    background-color: lightgray;
    background: lightcoral;
    color: transparent;
}

.progress-bar-displaying { 
    color: black; 
}


.transpatent-element { 
    display: none;
}