/* NOTE: There's 2 classes that are responsible for an animation on hover:
  - 'resultsTag' ID applies on finished Mongoose Run icon;
  - 'detailsTag' ID applies on an unfinished Mongoose Run Icon;
   - 'unavailableTag' ID applies on an uniavailable Mongoose Run Icon; 
 */

 #detailsTag {
  margin-right: calc(30%);
}

#resultsTag, #detailsTag {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#resultsTag:after, 
#detailsTag:after,
#unavailableTag:afer { 
  font-size: inherit;
  display: inline-block;
  text-align: center;
  position: absolute;
  opacity: 0;
  right: 0;
}

/* NOTE: Different margin / padding values are applied to 'details' and 'results' tag  */

#resultsTag:after {
  content: "Show results";
  top: calc(35%);
  bottom: calc(-10%);
  transition: 0.5s;
}

#detailsTag:after {
  content: "Details";
  top: calc(45%);
  bottom: calc(-10%);
  margin-right: calc(7.1%);
  transition: 0.5s;
}


#status-btn:hover #resultsTag:after,
#status-btn:hover #detailsTag:after,
#status-btn:hover #unavailableTag:after {
  opacity: 1;
  right: 0;
}

#status-btn:hover #resultsTag {
  padding-bottom: calc(70%);
}

#status-btn:hover #detailsTag { 
  padding-bottom: calc(30%);
}
