/* NOTE: - ELEMENT "resultsTag" is a style specified for Mongoose Run Status Icon which applies to ...
... the finished run tag and makes the "Show results" tag appear on hover.  */

#status-btn #resultsTag {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


#status-btn #resultsTag:after {
  content: "Show results";
  font-size: inherit;
  display: inline-block;
  text-align: center;
  position: absolute;
  opacity: 0;
  right: 0;
  top: calc(35%);
  bottom: calc(-10%);
  transition: 0.5s;
}

#status-btn:hover #resultsTag {
  padding-bottom: calc(70%);
}

#status-btn:hover #resultsTag:after {
  opacity: 1;
  right: 0;
}
