#status-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#status-btn span:after {
  content: "Show results";
  font-size: inherit;
  position: absolute;
  opacity: 0;
  right: 0;
  top: calc(35%);
  bottom: calc(-10%);
  transition: 0.5s;
}

#status-btn:hover span {
  padding-bottom: calc(70%);
}

#status-btn:hover span:after {
  opacity: 1;
  right: 0;
}
