@main("Mongoose Web Console") {
  <div class="mainPanel"
    region="top"
    data-dojo-type="dijit/layout/TabContainer">
    <div
      title="Mongoose Web Console" disabled="true" iconClass="icon-24px icon-logo"
      data-dojo-type="dijit/layout/TabController">
    </div>
    <div id="tab-dashboard"
      title="Dashboard" selected="true" iconClass="fa fa-tachometer"
      data-dojo-type="dijit/layout/ContentPane">
      <h2>Dashboard Page</h2>
    </div>
    <div id="tab-config"
      title="Configuration" iconClass="fa fa-cog"
      data-dojo-type="dijit/layout/ContentPane">
      <h2>Configuration Page</h2>
    </div>
    <div id="tab-scenario"
      title="Scenario" iconClass="fa fa-file-code-o"
      data-dojo-type="dijit/layout/ContentPane">
      <h2>Scenario Page</h2>
    </div>
    <div id="tab-hosts"
      title="Hosts" iconClass="fa fa-server"
      data-dojo-type="dijit/layout/ContentPane">
      <h2>Hosts Page</h2>
    </div>
    <div
      title="Submit Run" disabled="true" iconClass="fa fa-play"
      data-dojo-type="dijit/layout/ContentPane">
    </div>
  </div>
}
