@main("Mongoose Web Console") {
    <div id="main">
        <div id="tabs-area"></div>
        <div id="dashboard" class="tab-content">
            <h2>Dashboard Panel</h2>
        </div>
        <div id="configuration" class="tab-content">
            <h2>Configuration Panel</h2>
        </div>
        <div id="scenario" class="tab-content">
            <h2>Scenario Panel</h2>
        </div>
        <div id="hosts" class="tab-content">
            <h2>Hosts Panel</h2>
        </div>
    </div>
}
