@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
		@* Here's where we render the page title `String`. *@
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")" />
		<script type="text/javascript"
			src="@routes.Assets.versioned("lib/dojo/dojo.js")" data-dojo-config="async:true, parseOnLoad:true">
		</script>
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>
	</head>
	<body class="claro">
		@content
	</body>
</html>
