<!-- MARK: - Runs table tabs -->

  <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <button class="btn btn-sm btn-outline-secondary" type="button" (click)="filterRunsByStatus('')">All</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" (click)="filterRunsByStatus('Running')">Running</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" (click)="filterRunsByStatus('Finished')">Finished</button>
      </form>
    </nav>

  <!-- NOTE: Table of Mongoose Run Records with actual information. -->
  <app-runs-table [mongooseRunRecords]="this.displayingRunRecords"></app-runs-table>