<!-- MARK: - Runs table tabs -->

<ul class="nav nav-pills nav-fill" style="width: calc(30%); margin-bottom: calc(2%);">
    <li class="nav-item">
      <a class="nav-link active" href="#">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  (click)="filterRunsByStatus('Running')">Running</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="filterRunsByStatus('Finished')">Finished</a>
    </li>
  </ul>

  <!-- NOTE: Table of Mongoose Run Records with actual information. -->
  <app-runs-table [mongooseRunRecords]="this.displayingRunRecords"></app-runs-table>