:host { 
    margin-top: 50px;
    top: calc(15%);
}

.btn { 
    margin-left: 10px;
    border-radius: 20px;
}

/* NOTE: Styling for selected tab.  */
#selected-tab { 
    background-color:	 #bfbfbf;
    color: white;
    outline: 0;
}